@font-face {
    font-family: vis;
    src: url(visitor1.ttf);
}

@font-face {
    font-family: slk;
    src: url(slkscre.ttf);
}

.info {
    border: 5px;
    border-style: double;
    border-color: red;
    text-align: center;
    width: 60%;
    color: whitesmoke;
    font-size: 45px;
    background-color: black;
}

body {
    font-family: 'vis';
    background-color: rgb(58, 0, 39);
}

nav {
    background-color: black;
    overflow: visible;
    height: 75px;
    width: 100%;
}

li.ttle {
    display: inline;
    font-size: 30px;
    list-style-type: none;
    float: left;
}

li.l {
    float: right;
    display: inline;
    font-size: 25px;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
}

a.ttle {
    display: flex;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}

.mi {
    align-items: center;
    color: cyan;
    text-decoration: wavy;
}

a.lout {
    display: block;
    background-color: #64ff71;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h3 {
    font-family: 'slk';
}

img {
    border: 5px;
    border-radius: 50%;
    border-style: groove;
    border-color: blue;
}

h1 {
    font-family: 'slk';
    color: rgb(251, 255, 0);
    text-decoration: underline;
    font-size: 50px;
}