@font-face {
    font-family: vis;
    src: url(visitor1.ttf);
}

@font-face {
    font-family: slk;
    src: url(slkscre.ttf);
}

h1 {
    font-family: 'slk';
    color: red;
    align-items: center;
}

body {
    background-color: rgb(94, 0, 0);
    border-left: 50px;
    border-color: rgb(255, 143, 255);
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'vis';
    color: white;
}

p {
    text-align: center;
    font-size: 30px;
    background-color: black;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #000000;
    font-family: 'vis';
    font-size: 25px;
    width: 30%;
}

input:focus {
    outline: none;
}